@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Montserrat|Roboto');
/* Elements */

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    font-family: 'Montserrat', sans-serif;
    color: #343434;
}

h2 {
    text-align: 40vw;
    color: aliceblue;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    text-align: center;
    color: rgb(123, 133, 141);
    margin-bottom: 50px;
}

p,
li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
}

a {
    color: rgb(40, 157, 236);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
}

/* Genericos */

.center {
    text-align: center;
    margin: auto;
}

span {
    color: #E96BCC;
}

section {
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.bg {
    background: url("../assets/images/IFRS.jpg") no-repeat;
    background-size: 100%;
    z-index: -1;
}

button {
    padding: 15px;
    width: 120px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    border: none;
    background-color: rgb(40, 157, 236);
    color: aliceblue;
    border: 1px solid rgb(40, 157, 236);
}

.cadastros {
    margin: 8vw 7vw;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9em;
}

input {
    min-width: 500px;
    max-width: 30vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    border: none;
    border-bottom: 1px solid #2c3e50;
    display: block;
    margin: 18px;
}

/* MENUS */

#menu {
    top: 0px;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu ul li {
    color: black;
    font-weight: bold;
    margin: 10px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    z-index: 1;
}

.ifrs {
    margin: 10px;
    width: calc(243px);
}

#right {
    position: fixed;
    margin: calc(21px);
    right: calc(45px);
}

/* Body */

#intro > h2 {
    margin-top: 0vw;
    padding-top: 24vw;
    font-size: 4.2em;
    text-align: center;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.4);
}

.cadastro {
    width: 168px;
    height: 31px;
    background-color: #32a041;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.content {
    padding-top: 6vw;
}

.black {
    color: black;
}

#assunto {
    background: url(../assets/images/Vector.svg);
    background-size: 19px 11px;
    background-repeat: no-repeat;
    background-position: 25px 25px;
    /* animation: bouncing infinite 2.2s; */
}

/* Text config  */

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.text {
    display: block;
}

.text:first-letter {
    color: rgb(40, 157, 236);
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

article {
    margin: auto;
    width: 70%;
}

.leitorQR {
    /* Reset do SVG */
    /* margin: -0.4%; */
    /* margin-left: 40vw; */
    padding: 0;
}

/* Animações */

@keyframes bouncing {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: 20px;
    }
    100% {
        margin-top: 0px;
    }
}

/* Mobile */


@media (max-width:700px){

    .bg{
        background-position: calc(-269px) 0vh;
        background-size: 250vw; 
    }

    #intro > h2{
        display: none;
    }

    .cadastro{
        margin-top: 118vw;
    }

    #menu{
        margin: 0;
        padding: 0;
        display: none;
    }

}