@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Montserrat');
/* Elements */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100vw;
    height: 100vh;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    color: #343434;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    color: rgb(123, 133, 141);
    margin-bottom: 50px;
}

a {
    color: rgb(40, 157, 236);
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

span {
    color: #E96BCC;
}

.bg {
    margin: auto;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url("../assets/images/IFRS.jpg") no-repeat;
    background-size: 100%;
    z-index: -1;
}

.list {
    text-align: center;
}

button {
    padding: 15px;
    width: 120px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 25px;
    border: none;
    background-color: rgb(40, 157, 236);
    color: aliceblue;
    border: 1px solid rgb(40, 157, 236);
}

/* MENUS */

#menu {
    top: 0px;
}

#menu ul li {
    color: black;
    font-weight: bold;
    margin: 10px;
    height: 40px;
    display: inline-block;
    z-index: 1;
}

.ifrs {
    margin: 10px;
    width: calc(243px);
}

#right {
    margin: calc(21px);
    position: absolute;
    right: calc(45px);
}

/* Body */

#intro {
    font-size: 1.5em;
    width: 100vw;
}

#intro h2 {
    margin: 28vw;
    text-align: center;
    background: #32A041;
}

#menu #assunto {
    background: url(../assets/images/Vector.svg);
    background-size: 19px 11px;
    background-repeat: no-repeat;
    background-position: 25px 20px;
}